{% extends "global/Page.html" %}
{% load otree static %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'evasion_FINAL_BIDEN/evasion_FINAL_BIDEN_style.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<center> <strong>  TOUR {{subsession.round_number}} - choix de groupe </strong> </center>
{% endblock %}

{% block content %}

<div class="cadre">

    <div style="color: green; font-weight: bold; margin-bottom: 1%; font-size: 18px;">
        INFORMATIONS : 
    </div>

<table style="width: 100%; border: 5px solid black; font-size: 17px;">
    <tr>
        <td class="td_titre" >
            Votre rôle est :       
        </td>

        <td class="td_reponse" >
            <center>
                    <img   src="{% static 'evasion_FINAL_BIDEN/roleB.png' %}" heigth=15% width=15%/> 
            </center>
        </td>
    </tr>

    {% if player.ROLE == 'B' and subsession.round_number > 1 %}
    <tr>
        <td class="td_titre" >
            Votre groupe d'origine est : 
        </td>

        <td class="td_reponse" >
            <center>
                {% if player.GROUP_NAME_PARTICIPANT_ORIGIN == 'bleu' %}
                bleu
                    <img src="{% static 'evasion_FINAL_BIDEN/bleu.png' %}" heigth=35% width=35%/> 
    
                {% elif player.GROUP_NAME_PARTICIPANT_ORIGIN == 'vert' %}
                vert
                    <img src="{% static 'evasion_FINAL_BIDEN/vert.png' %}" heigth=35% width=35%/>  
    
                {% elif player.GROUP_NAME_PARTICIPANT_ORIGIN == 'rouge' %}
                rouge
                    <img src="{% static 'evasion_FINAL_BIDEN/rouge.png' %}" heigth=35% width=35%/>  
    
                {% elif player.GROUP_NAME_PARTICIPANT_ORIGIN == 'noir' %}
                noir
                    <img src="{% static 'evasion_FINAL_BIDEN/noir.png' %}" heigth=35% width=35%/> 
    
                {% elif player.GROUP_NAME_PARTICIPANT_ORIGIN == 'orange' %}
                orange
                    <img src="{% static 'evasion_FINAL_BIDEN/orange.png' %}" heigth=35% width=35%/>  
    
                {% elif player.GROUP_NAME_PARTICIPANT_ORIGIN == 'jaune' %}
                jaune
                    <img src="{% static 'evasion_FINAL_BIDEN/jaune.png' %}" heigth=35% width=35%/>  
    
                {% endif %}
            </center>
        </td>
    </tr>


    {% else %}

    <td class="td_titre" >
        Vous faites partie du groupe :
    </td>

    <td class="td_reponse" >
        <center>
            {% if player.GROUP_NAME_PARTICIPANT_ORIGIN == 'bleu' %}
            bleu
                <img  src="{% static 'evasion_FINAL_BIDEN/bleu.png' %}" heigth=35% width=35%/>   

            {% elif player.GROUP_NAME_PARTICIPANT_ORIGIN == 'vert' %}
            vert
                <img  src="{% static 'evasion_FINAL_BIDEN/vert.png' %}" heigth=35% width=35%/>  

            {% elif player.GROUP_NAME_PARTICIPANT_ORIGIN == 'rouge' %}
            rouge
                <img  src="{% static 'evasion_FINAL_BIDEN/rouge.png' %}" heigth=35% width=35%/> 

            {% elif player.GROUP_NAME_PARTICIPANT_ORIGIN == 'noir' %}
            noir
                <img  src="{% static 'evasion_FINAL_BIDEN/noir.png' %}" heigth=35% width=35%/> 

            {% elif player.GROUP_NAME_PARTICIPANT_ORIGIN == 'orange' %}
            orange
                <img  src="{% static 'evasion_FINAL_BIDEN/orange.png' %}" heigth=35% width=35%/>  

            {% elif player.GROUP_NAME_PARTICIPANT_ORIGIN == 'jaune' %}
            jaune
                <img  src="{% static 'evasion_FINAL_BIDEN/jaune.png' %}" heigth=35% width=35%/> 

            {% endif %}
        </center>
        
    </td>
</tr>
{% endif %}



{% if player.ROLE == 'B' and subsession.round_number > 1 %}

<td class="td_titre" >
    Vous faites actuellement parti du groupe  <strong> {{ player.GROUP_NAME_PARTICIPANT_N_MOINS_UN }}. </strong><br>
    (Il est surligné en jaune dans le tableau ci-dessous)
</td>

<td class="td_reponse" >
    <center>
        {% if player.GROUP_NAME_PARTICIPANT_N_MOINS_UN == 'bleu' %}
        bleu
            <img  src="{% static 'evasion_FINAL_BIDEN/bleu.png' %}" heigth=35% width=35%/>   

        {% elif player.GROUP_NAME_PARTICIPANT_N_MOINS_UN == 'vert' %}
        vert
            <img  src="{% static 'evasion_FINAL_BIDEN/vert.png' %}" heigth=35% width=35%/>  

        {% elif player.GROUP_NAME_PARTICIPANT_N_MOINS_UN == 'rouge' %}
        rouge
            <img  src="{% static 'evasion_FINAL_BIDEN/rouge.png' %}" heigth=35% width=35%/> 

        {% elif player.GROUP_NAME_PARTICIPANT_N_MOINS_UN == 'noir' %}
        noir
            <img  src="{% static 'evasion_FINAL_BIDEN/noir.png' %}" heigth=35% width=35%/> 

        {% elif player.GROUP_NAME_PARTICIPANT_N_MOINS_UN == 'orange' %}
        orange
            <img  src="{% static 'evasion_FINAL_BIDEN/orange.png' %}" heigth=35% width=35%/>  

        {% elif player.GROUP_NAME_PARTICIPANT_N_MOINS_UN == 'jaune' %}
        jaune
            <img  src="{% static 'evasion_FINAL_BIDEN/jaune.png' %}" heigth=35% width=35%/> 

        {% endif %}
    </center>
    
</td>
</tr>
{% endif %}

<tr>

    <td class="td_titre" >
        Votre revenu pour ce tour est de :
    </td>

    <td class="td_reponse" >
        <strong style="color:red;"> {{ player.REVENU_INITIAL }} ECU </strong> <br>       
    </td>
</tr>




<tr>

    <td class="td_titre">
        Le nombre de joueurs dans votre groupe est actuellement de : 
    </td>

    <td class="td_reponse" >
        {% if subsession.round_number == 1 %}
            {{ Constants.players_per_group }} joueurs 
        {% else %}
            <strong> {{player.NUMBER_OF_PLAYER_BEFORE_CHOICE_B}} joueurs </strong> 
        {% endif %}
    
    </td>
</tr>


<tr>

    <td class="td_titre">
        Ce groupe est actuellement composé de : 
    </td>

    <td class="td_reponse" >
        {% if subsession.round_number == 1 %}
            1 joueur A <br>
            {{Constants.numb_of_player_C_per_group}} joueurs B  <br>
            {{Constants.numb_of_player_C_per_group}} joueurs C 
        {% else %}
            1 joueur A <br>
            {% if player.NUMB_B_PLAYER_PER_BEFORE_CHOICE_B <= 1 %} {{player.NUMB_B_PLAYER_PER_BEFORE_CHOICE_B}} joueur B {% else %} {{player.NUMB_B_PLAYER_PER_BEFORE_CHOICE_B}} joueurs B {% endif %}  <br>
            {{Constants.numb_of_player_C_per_group}} joueurs C 
        {% endif %}
    
    </td>
</tr>

<tr>
<td class="td_titre">
    Le nombre de groupes dans cette session est de : 
</td>

<td class="td_reponse" >
   {{ player.NUMBER_OF_GROUPS }} groupes
</td>
</tr>

<tr>
<td class="td_titre">
    Le nombre de joueurs B dans cette session est de: 
</td>

<td class="td_reponse" >
   {{ player.TOTAL_NUMBER_OF_PLAYER_B }} joueurs B
</td>
</tr>

<tr>
    <td class="td_titre">
        Le total des fonds collectés sera multiplié par : 
    </td>

    <td class="td_reponse" >
       {{ Constants.multiplier }} 
    </td>
</tr>

<tr>
    <td class="td_titre">
        Chaque joueur B et C de votre groupe a reçu un revenu initial entre : 
    </td>

    <td class="td_reponse" >
        {{Constants.min_income}} ECU et {{Constants.max_income}} ECU
    </td>
</tr>


</table>
  
<br>

<div style="color: green; font-weight: bold; margin-bottom: 1%; font-size: 18px;">
    VOS ACTIONS : 
</div>


<div class= "question" style="border-bottom: 3px solid black;">

    <div style="padding : 2%; color: black; font-weight: normal;">

    {% if player.ROLE == 'B'  %}

        Le taux d'imposition choisi par le joueur A de votre groupe d'origine est de <span style="color: red;"> <strong>  {{ player.TX_ORIGIN }}%. </strong> </span><br>
        Le taux de redistribution choisi par le joueur A de votre groupe d'origine est de <span style="color: red;"> <strong>  {{ player.TX_REDISTRIB_ORIGIN }}%. </strong> </span>

    <br><br>
        Si le taux d'imposition de votre groupe d'origine est supérieur à {{ Constants.SEUIL_BIDEN }}% et que le taux d'imposition du groupe que vous choisirez est inférieur à {{ Constants.SEUIL_BIDEN }}% 
        alors vous devrez payer les impots au groupe que vous aller choisir. Mais vous devrez aussi payer la différence entre le taux de votre groupe d'origine et celui du groupe que vous allez choisir.

    </div>

{% endif %}
    


    <div class="reponse" style="border: 0px;">

        <div style="padding : 2%; color: black; font-weight: bold;">
            Pour choisir un groupe, cochez le bouton correspondant au groupe que souhaitez intégrer pour ce tour. 
        </div>

    <table class="table_impot">
    <tr style = "background-color: lightgray;">
        <td class="td_cell">
            VOTRE CHOIX
        </td>
        <td class="td_cell">
            GROUPES
        </td>
        <td class="td_cell">
            TAUX D'IMPOSITION
        </td>
        <td class="td_cell">
            TAUX DE REDISTRIBUTION
        </td>
    </tr>
    
    {% for p in subsession.get_players %}
        {% if p.ROLE == "A" %}
        <tr>

            <td class="td_cell_rep gpe{{p.GROUP_ORIGIN}}" >
                <input type="radio" name="B_CHOOSE_GROUPE" id="gpe_check{{p.GROUP_ORIGIN}}" value={{p.GROUP_ORIGIN}}  >
            </td>
            <td class="td_cell_rep gpe{{p.GROUP_ORIGIN}}"  >
                {% if subsession.round_number == 1 %} {{ p.GROUP_NAME_PARTICIPANT_ORIGIN }} {% else %} {{ p.GROUP_NAME_PARTICIPANT }} {% endif %}
                
                <center>
                    {% if p.GROUP_NAME_PARTICIPANT == 'bleu' %}
                    <span style = "font-size: 15px; font-weight: normal;"> {% if player.GROUP_NAME_PARTICIPANT_ORIGIN == 'bleu' %} (groupe d'origine) <br>{% endif %} </span> 
                        <img  src="{% static 'evasion_FINAL_BIDEN/bleu.png' %}" heigth=35% width=35%/>   
        
                    {% elif p.GROUP_NAME_PARTICIPANT == 'vert' %}
                    <span style = "font-size: 15px; font-weight: normal;"> {% if player.GROUP_NAME_PARTICIPANT_ORIGIN == 'vert' %} (groupe d'origine)  <br>{% endif %} </span> 
                        <img  src="{% static 'evasion_FINAL_BIDEN/vert.png' %}" heigth=35% width=35%/>  
        
                    {% elif p.GROUP_NAME_PARTICIPANT == 'rouge' %}
                    <span style = "font-size: 15px; font-weight: normal;"> {% if player.GROUP_NAME_PARTICIPANT_ORIGIN == 'rouge' %} (groupe d'origine)  <br>{% endif %} </span> 
                        <img  src="{% static 'evasion_FINAL_BIDEN/rouge.png' %}" heigth=35% width=35%/> 
        
                    {% elif p.GROUP_NAME_PARTICIPANT == 'noir' %}
                    <span style = "font-size: 15px; font-weight: normal;"> {% if player.GROUP_NAME_PARTICIPANT_ORIGIN == 'noir' %} (groupe d'origine)  <br>{% endif %} </span> 
                        <img  src="{% static 'evasion_FINAL_BIDEN/noir.png' %}" heigth=35% width=35%/> 
        
                    {% elif p.GROUP_NAME_PARTICIPANT == 'orange' %}
                    <span style = "font-size: 15px; font-weight: normal;"> {% if player.GROUP_NAME_PARTICIPANT_ORIGIN == 'orange' %} (groupe d'origine)  <br>{% endif %} </span> 
                        <img  src="{% static 'evasion_FINAL_BIDEN/orange.png' %}" heigth=35% width=35%/>  
        
                    {% elif p.GROUP_NAME_PARTICIPANT == 'jaune' %}
                    <span style = "font-size: 15px; font-weight: normal;"> {% if player.GROUP_NAME_PARTICIPANT_ORIGIN == 'jaune' %} (groupe d'origine)  <br>{% endif %} </span>  
                        <img  src="{% static 'evasion_FINAL_BIDEN/jaune.png' %}" heigth=35% width=35%/> 
        
                    {% endif %}
                </center>
            </td>
            <td class="td_cell_rep gpe{{p.GROUP_ORIGIN}}">
                {{ p.A_TX_IMPOT }}%
            </td>
            <td class="td_cell_rep gpe{{p.GROUP_ORIGIN}}">
                {{ p.A_TX_REDISTRIB }}%
            </td>
            
        </tr>
        {% endif %}
    {% endfor %}

    </table>
        
        
        {{ form.B_CHOOSE_GROUPE.errors }}
    
    </div>

   
</div>




</div>

    <div class="boutton">
        <button class="suivant_btn"> SUIVANT </button>
    </div>


{% endblock %}



{% block scripts %}

<script>

{% if subsession.round_number == 1 %}
{% if player.GROUP_ORIGIN == 1 %}
    document.getElementById("gpe_check1").checked = true;
    $(".gpe1").css({"background-color": "#f5f500"});
   
{% elif player.GROUP_ORIGIN == 2 %}
    document.getElementById("gpe_check2").checked = true;
    $(".gpe2").css({"background-color": "#f5f500"});
 
{% elif player.GROUP_ORIGIN == 3 %}
    document.getElementById("gpe_check3").checked = true;
    $(".gpe3").css({"background-color": "#f5f500"});

{% elif player.GROUP_ORIGIN == 4 %}
    document.getElementById("gpe_check4").checked = true;
    $(".gpe4").css({"background-color": "#f5f500"});

{% elif player.GROUP_ORIGIN == 5 %}
    document.getElementById("gpe_check5").checked = true;
    $(".gpe5").css({"background-color": "#f5f500"});

{% elif player.GROUP_ORIGIN == 6 %}
    document.getElementById("gpe_check6").checked = true;
    $(".gpe6").css({"background-color": "#f5f500"});

{% elif player.GROUP_ORIGIN == 7 %}
    document.getElementById("gpe_check7").checked = true;
    $(".gpe7").css({"background-color": "#f5f500"});

{% elif player.GROUP_ORIGIN == 8 %}
    document.getElementById("gpe_check8").checked = true;
    $(".gpe8").css({"background-color": "#f5f500"});

{% endif %}

{% elif subsession.round_number > 1 %}

{% if player.GROUP_N_MOINS_UN == 1 %}
    document.getElementById("gpe_check1").checked = true;
    $(".gpe1").css({"background-color": "#f5f500"});
   
{% elif player.GROUP_N_MOINS_UN == 2 %}
    document.getElementById("gpe_check2").checked = true;
    $(".gpe2").css({"background-color": "#f5f500"});
 
{% elif player.GROUP_N_MOINS_UN == 3 %}
    document.getElementById("gpe_check3").checked = true;
    $(".gpe3").css({"background-color": "#f5f500"});

{% elif player.GROUP_N_MOINS_UN == 4 %}
    document.getElementById("gpe_check4").checked = true;
    $(".gpe4").css({"background-color": "#f5f500"});

{% elif player.GROUP_N_MOINS_UN == 5 %}
    document.getElementById("gpe_check5").checked = true;
    $(".gpe5").css({"background-color": "#f5f500"});

{% elif player.GROUP_N_MOINS_UN == 6 %}
    document.getElementById("gpe_check6").checked = true;
    $(".gpe6").css({"background-color": "#f5f500"});

{% elif player.GROUP_N_MOINS_UN == 7 %}
    document.getElementById("gpe_check7").checked = true;
    $(".gpe7").css({"background-color": "#f5f500"});

{% elif player.GROUP_N_MOINS_UN == 8 %}
    document.getElementById("gpe_check8").checked = true;
    $(".gpe8").css({"background-color": "#f5f500"});

{% endif %}
{% endif %}

</script>


<script>
$('input[type=radio]').change(function() {
    if($(this).val() == 1){
        $(".gpe1").css({"background-color": "#f5f500"});
        $(".td_cell_rep:not(.gpe1)").css({"background-color": "whitesmoke"});  
    }

    else if($(this).val() == 2){
        $(".gpe2").css({"background-color": "#f5f500"});
        $(".td_cell_rep:not(.gpe2)").css({"background-color": "whitesmoke"});  
    }

    else if($(this).val() == 3){
        $(".gpe3").css({"background-color": "#f5f500"});
        $(".td_cell_rep:not(.gpe3)").css({"background-color": "whitesmoke"});  
    }

    else if($(this).val() == 4){
        $(".gpe4").css({"background-color": "#f5f500"});
        $(".td_cell_rep:not(.gpe4)").css({"background-color": "whitesmoke"});  
    }

    else if($(this).val() == 5){
        $(".gpe5").css({"background-color": "#f5f500"});
        $(".td_cell_rep:not(.gpe5)").css({"background-color": "whitesmoke"});  
    }

    else if($(this).val() == 6){
        $(".gpe6").css({"background-color": "#f5f500"});
        $(".td_cell_rep:not(.gpe6)").css({"background-color": "whitesmoke"});  
    }

    else if($(this).val() == 7){
        $(".gpe7").css({"background-color": "#f5f500"});
        $(".td_cell_rep:not(.gpe7)").css({"background-color": "whitesmoke"});  
    }

    else if($(this).val() == 8){
        $(".gpe8").css({"background-color": "#f5f500"});
        $(".td_cell_rep:not(.gpe8)").css({"background-color": "whitesmoke"});  
    }
});
</script>

{% endblock %}

