{% extends "global/Page.html" %}
{% load otree static %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
<link href="{% static 'evasion_FINAL_BIDEN/evasion_FINAL_BIDEN_style.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<center> <strong>Fin de l'expérience</strong> </center>
{% endblock %}

{% block content %}
<center><p>Merci pour votre participation.</p></center>
{% endblock %}
