{% extends "global/Page.html" %}
{% load otree static %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
<link href="{% static 'evasion_FINAL_BIDEN/evasion_FINAL_BIDEN_style.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    <center> <strong>  </strong> </center>
{% endblock %}

{% block content %}

<div class="cadre">

L'expérience est maintenant terminée. <br>
Cliquez sur le bouton pour voir combien vous avez gagné.



</div>


    <div class="boutton">
        <button class="suivant_btn"> OBTENIR VOTRE PAIEMENT </button>
    </div>
{% endblock %}


