{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="justify"
         style="background-color:white; text-align:center;">
        Cas n°4 - Résultats de l'entretien
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="justify"
                 style="background-color:white; text-align:center;">


    <p>
          <img src="{% static link %}" height=100% width=100% />
    </p>
    <p>
        <hr>
        Merci de répondre aux questions ci-dessous en faisant glisser le curseur sur la réponse qui
        traduit au mieux votre position
        <table id="id_age_table">
            <tr>
                <td class="left_label">
                    min = 12
                </td>
                <td class="slider">
                             {% formfield player.age_cas4_Entretien %}

                </td>
                <td class="right_label">
                    max = 30
                </td>
            </tr>
        </table>
        <table id="id_confidence_table">
            <tr>
                <td class="left_label">
                    0 = "Pas certain du tout"
                </td>
                <td class="slider">
                    {% formfield player.confidence_cas4_Entretien %}
                </td>
                <td class="right_label">
                    100 = "Absolument certain"
                </td>
            </tr>
        </table>
    </p>
    <p>
                    <div style = "text-align: right">
<button id="id_next" class="otree-btn-next btn btn-primary next-button otree-next-button">Suite</button>
</div>
    </p>


            </div>
        </div>
    </div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        table, tr{
            width: 100%;
            border-width: "1";
            text-align: center;
        }
        td.left_label{
            font-size: 12px;
            font-style: italic;
            width: 20%;
        }
        td.slider{
            font-weight:bold;
            width: 35%;
            text-align: center;
        }
        td.right_label{
            font-size: 12px;
            font-style: italic;
            width: 20%;
        }
        td.title{
            width: 30%;
        }
        td.content{
            width: 50%;
        }
        td.button{
            width: 20%;
        }
        span.highlighted{
            font-weight: bold;
            font-size: 21px;
            color: red;
        }
    </style>
{% endblock %}
