{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="left"
         style="background-color:white; text-align:left;">
        Partie 1 : Informations générales
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="justify"
                 style="background-color:white; text-align:left;">

                <p>
                    Les mineurs non accompagnés sont des enfants ayant migré en France et qui ne sont pas accompagnés
                    de leur représentant légal. En vertu de la législation française, tout mineur en danger est pris
                    en charge par les services de la protection de l’enfance, protection assurée par le département.
                </p>
                <p>
                    Les autorités ont prévu une phase d’évaluation de la minorité et de l’isolement de ces jeunes afin
                    de vérifier s’ils doivent être pris en charge ou non. Le temps de cette évaluation, les jeunes
                    sont censés être mis à l’abri, c’est-à-dire hébergés, pendant cinq jours.
                </p>
                <p>

<div style = "text-align: right">
<button id="id_next" class="otree-btn-next btn btn-primary next-button otree-next-button">Déroulement de l'évaluation</button>
</div>
                </p>

            </div>
        </div>
    </div>

{% endblock %}
