{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
{% endblock %}


{% block content %}

  <div>
        <p>
            Vous trouverez ci-après une liste de 8 propositions en lien avec le groupe idéal.
            Vous allez devoir :
        </p>
        <p>
            <li class="tabulation">
                1.	Choisir les 3 propositions pour lesquelles votre groupe et celui des personnes
                    {% if player.treatment == "Picturaux" %}
                        Expérientielles
                    {% elif player.treatment == "Experientiels" %}
                        Picturales
                    {% endif %}
                risquent d'être le moins d'accord. Sélectionnez "Désaccord" pour ces 3 propositions.
            </li>
            <li class="tabulation">
                             2.	Choisir les 3 propositions pour lesquelles votre groupe et celui des personnes
                    {% if player.treatment == "Picturaux" %}
                        Expérientielles
                    {% elif player.treatment == "Experientiels" %}
                        Picturales
                    {% endif %}
                pourraient le plus facilement être du même avis. Sélectionnez "Accord" pour ces 3 propositions.
                          </li>
            <li class="tabulation">
                               3.	Sélectionner "Neutre" pour les 2 propositions restantes, soit les propositions qui ne correspondent, selon vous, ni à un accord ni à un désaccord franc.
            </li>
        </p>
    </div>
    <br>
    <div>
        <table border="1">
            {% for field in form %}
                <tr>
                    <td>
                        {{ field.label }}
                    </td>
                    <td>
                        {{ field }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <div>
        {% next_button %}
    </div>

{% endblock %}


{% block styles %}
    <style>
        .tabulation {
            margin: 0 0 0 40px;
        }
    </style>
{% endblock %}
