{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Complétion de mots : exercice
{% endblock %}

{% block content %}

    <p>
      <strong>A présent vous devrez réaliser la même tâche. Toutefois, à l’issue de celle-ci, nous vous ferons un retour
sur la performance de votre groupe, c’est-à-dire, dans quelle mesure vous et les membres de votre
groupe arrivez à fournir des réponses similaires.</strong>

    </p>
<div style = "text-align: right">
<button id="id_next" class="otree-btn-next btn btn-primary next-button otree-next-button">Commencer</button>
</div>

{% endblock %}


{% block styles %}
{% endblock %}
