{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block title %}
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="justify" style="background-color:white;">
                {% if role == 'Conducteur' %}
                <p>
                    Vous êtes conducteur de votre voiture:
                      <div class="item active">
                          <img src="{% static "voiture/renault3bis.jpg"%}" width="100%" height="auto"/>
                      </div>
                </p>
                {% elif role == 'Decideur' %}
                <p>
                    Vous êtes décideur politique et devez décider du comportement à programmer dans les voitures autonomes:
                      <div>
                          <img src="{% static "voiture/lady-justice.jpg"%}" width="100%" height="auto"/>
                      </div>
                </p>
                {% endif %}
                <p>
                    {% next_button %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
