{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Merci
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="justify" style="background-color:white;">
                <p>
                    Cette expérience est maintenant terminée, merci pour votre participation.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

